<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style_index.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h1>Enter your name: </h1>
        <form action="/accept" method="post">
            <div class="wrapper__form">
                <div class="group">      
                    <input type="text" name="name" required>
                    <span class="bar"></span>
                    <label>Name</label>
                </div>
                <button class="form__button" type="submit" >Accept</button>
            </div>
        </form>
    </div>
</body>
</html>